.considerationbox{
    max-width: 700px; 
    margin: 10px auto;
    padding: 5px 10px;
    box-shadow: 1px 1px 5px #ddd;
    .considerationlist{
        position: relative;
        overflow: hidden;
        height:350px;
    }
    .buttons{
        display: flex;
        justify-content: space-between;
        margin: 20px auto;
        button{
            text-decoration: none;
            border: none;
            box-shadow:none;
            padding: 10px 20px;
            color: white;
            font-size: 100%;
            font-weight: bold;
            display: block;
            background-color: #4CAF50;
            &:hover{
                box-shadow: 1px 1px 5px #999;
                cursor: pointer;
            }
            &:disabled{
                background-color: #ddd;
                &:hover{
                    box-shadow: none;
                    cursor: auto;
                }
            }
        }
    }
}

@media screen and (min-width: 768px) {
    .considerationbox{
        padding: 10px 20px;
    }
}