.about{
    line-height: 1.2;
    h2{
        margin-top: 20px;
        color: rgb(77, 66, 117);
        font-weight: normal;
        font-size: 170%;

    }
    h5{
        margin-top: 30px;
        margin-bottom: 10px;
        font-size: 120%;

    }
    p{
        margin-top:5px;
        margin-bottom:5px;

    }
}