.banner{
    height: 300px;
    img{
      object-fit: cover;
      height: 100%;
      width:100%;
    }
  }
  .catches{
      margin-top:20px;
      display: flex;
      flex-wrap: wrap;
      align-items: stretch;
      justify-content: space-between;
      font-family: Montserrat;
      div{
          max-width:320px;
          padding: 20px 20px;
          margin: 10px 5px;
          transition: all 0.2s;
          background-color: rgb(228, 228, 228);
          h5{
              font-weight: normal;
              font-size:150%;
              margin:10px 0;
              color: rgb(48, 48, 121);
          }
          p{
              margin-bottom: 10px;
          }
          ul{
              padding-left:20px;
              li{
                  margin-bottom:10px;
              }
          }
          &:hover{
              box-shadow: 2px 2px 5px grey;
          }
      }
  }